.cart {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    width: 20vw;
    height: 35vh;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    padding: 1rem 1.5rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

th, td {
    padding: 0.5rem;
}